.main {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.main__h1 {
    font-size: 2rem;
    font-weight: 600;
}

.main__p {
    color: var(--terciary_color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.main__coursesSection {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.main__coursesSection-article {
    flex-basis: 30%;
    background: #FFF3F3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    transition: 0.5s;
}

.main__coursesSection-article:hover {
    box-shadow: 0 0 20px 0 rgba( 0, 0, 0, 0.2);
}

.main__coursesSection-article h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

@media(max-width: 700px) {
    .main__coursesSection {
        flex-direction: column;
    }
}

.main__campusSection {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

.main__campusSection-h1 {
    font-size: 2rem;
    font-weight: 600;
}

.main__campusSection-p {
    color: var(--terciary_color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.main__campusSection-article {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.main__campusSection-article figure {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.main__campusSection-article figure img {
    width: 100%;
    display: block;
}

.main__campusSection-article figure figcaption {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.main__campusSection-article figure figcaption:hover {
    background: rgba( 226, 0, 0, 0.7);
}

.main__campusSection-article figure figcaption h3 {
    width: 100%;
    font-weight: 500;
    color: var(--primary-color);
    font-size: 1.5rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.main__campusSection-article figure figcaption:hover h3 {
    bottom: 49%;
    opacity: 1;
}

@media(max-width: 700px) {
    .main__campusSection-article figure figcaption h3 {
        font-size: 0.5rem;
    }
}

.main__facilitiesSection {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px; 
}

.main__facilitiesSection-h1 {
    font-size: 2rem;
    font-weight: 600;
}

.main__facilitiesSection-p {
    color: var(--terciary_color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.main__facilitiesSection-article {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.main__facilitiesSection-article figure {
    flex-basis: 25%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    overflow: hidden;
}

.main__facilitiesSection-article figure img {
    width: 100%;
    border-radius: 10px;
}

.main__facilitiesSection-article figure h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

.main__facilitiesSection-article figure p {
    padding: 0;
}

@media(max-width: 700px) {
    .main__facilitiesSection-article figure {
        width: 32%;
    }

    .main__facilitiesSection-article figure h3 {
        font-size: 0.5rem;
        text-align: center;
    }
    
    .main__facilitiesSection-article figure p {
        display: none;
    }
}
